h3, p, p.li {
  font-family: Verdana;
}
h3 {
      color: grey;
}
/* Change the color of the Link  */
/* text in the left menu below   */
  p a {
    color: grey;
    text-decoration: underline;
    text-align: left;
    font-size: 14px;
  }
  p.disclaimer {
    color: grey;
    text-align: left;
    font-size: 14px;
  }
