h3, p, p.li {
  font-family: Verdana;
  color: grey;
  font-size: 14px;
  text-align: left;
}
h3 {
      color: grey;
}
/* Change the color of the Link  */
/* text in the left menu below   */
  p a {
    color: grey;
    text-decoration: underline;
    text-align: left;
    font-size: 14px;
  }
